h1 {text-align: center;
color:#CD853F ;  
}
img{
    height: 150px;
    border-image-repeat: initial;
}
h2{
    color: black;
}
p{
color:brown;
}

header{
    background-color: #CD853F;
}
a{
    font-size: 20px;
    color: #F6BE00;
    border: 3px solid rgb(77, 2, 2);
    text-decoration: none;
    border-radius: 10px;
  

}
p1{text-align: center;

}
